.header {
    width: 100%;
    height: auto;
    &_top {
        box-sizing: border-box;
        background: #eff1f2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid #a0138e;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        &:hover {
            background-color: white;
            button {
                margin-left: 15px;
                color: white;
                border: 1px solid #a0138e;
                display: inline-flex;
                width: 112px;
                height: 35px;
                justify-content: center;
                align-items: center;
                border-radius: 17px;
                flex-shrink: 0;
                text-align: center;
                cursor: pointer;
                background-color: #a0138e;
                &:hover {
                    background-color: #a0138e;
                    color: white;
                }
            }
        }
        button {
            margin-left: 15px;
            color: #a0138e;
            border: 1px solid #a0138e;
            display: inline-flex;
            width: 112px;
            height: 35px;
            justify-content: center;
            align-items: center;
            border-radius: 17px;
            flex-shrink: 0;
            text-align: center;
            cursor: pointer;
        }
    }
    &_bottom{
        margin-top: 50px;
        width: 100%;
        height: 150px;
        background-color: rgb(12, 12, 51);
        &_first{
            width: 100%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                margin: 0px;
                margin-top: 15px;
                color: white;
            }
        }
        &_second{
            width: 100%;
            height: 22%;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .links{
                width: 170px;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .login{
                width: 120px;
                height: 100%;
                display: flex;
                align-items: center;
                img{
                    margin-right: 10px;
                    width: 23px;
                }
            }
        }
    }
}
